.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    margin: 20px 15px;
    position: relative;
    & img {
        width: 150px;
        height: 150px;
    }
    & h3 {
        margin-bottom: 0;
    }
    &_fav {
        position: absolute;
        top: 0;
        right: 0;
        & svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}