.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    &_block {
        & svg {
            cursor: pointer;
            &:first-child {
                padding-right: 5px;
            }
        }
    }
    &::after {
        background-color: #ededed;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
    }
}