.block {
    padding-bottom: 24px;
}
form {
    width: 600px;
        border: 1px solid #ededed;
        border-radius: 8px;
        margin-top: 16px;
        padding: 24px 16px 16px;
}
.error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}