button {
    cursor: pointer;
    background-color: black;
    border-radius: 32px;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 14px;
    color: white;
    border: none;
    &:hover {
        color: #a7a9ac;
        transition: all .3s cubic-bezier(.19,.5,.29,.85);
    }
}