.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
input {
    background-color: #f8f8f9;
    border: 2px solid #f8f8f9;
    border-radius: 4px;
    color: #000;
    outline: none;
    padding: 15px 40px 15px 16px;
    position: relative;
    transition: border-color .5s cubic-bezier(.19,.5,.29,.85);
    width: 86%;
}
label {
    display: inline-block;
    color: #0a0a0a;
    display: block;
    margin-bottom: 8px;
}