.bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.modal {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    padding: 20px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 101;
    &_header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &_close {
        cursor: pointer;
    }
    &_footer {
        display: flex;
        justify-content: start;
        & button {
            &:first-child {
                margin-right: 40px;
            }
        }
    }
}